@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Raleway");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden; }

/* Coolors Exported Palette - coolors.co/001011-093a3e-3aafb9-64e9ee-97c8eb */
:root {
  --color-1: 0, 16, 17;
  --color-2: 9, 58, 62;
  --color-3: 58, 175, 185;
  --color-4: 100, 233, 238;
  --color-5: 151, 200, 235;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --main-pink: rgb(209, 138, 180);
  --bg-pink: rgb(232, 178, 205);
  --grey: rgb(236, 236, 236);
  --text-pink: rgb(188, 113, 174);
  --text-white: rgb(255, 255, 255);
  --text-main: rgb(0, 0, 0);
  --font-main: Montserrat, sans-serif;
  --font-support: Raleway, sans-serif;
  --font-blog: 'PT Sans', sans-serif; }
