@import "../../mixins.sass"

.comments
  width: 90%
  margin: auto
  display: flex
  flex-flow: column
  +e(header)
  +e(add)
    display: flex
  +e(form)
    display: flex
    flex-flow: row
    justify-content: space-between
    width: 70%
    margin-left: 20px
  +e(img)
    width: 80px
    height: 100px
    background-image: url("http://localhost:3000/images/placeholder.jpeg")
    background-size: cover
    position: relative
    overflow: hidden
  +e(file)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0
  +e(text)
  &__name, &__text
    background: transparent
    border: 2px solid var(--bg-pink)
    color: var(--font-main)
  +e(submit)
    padding: 0 5px
    margin-left: 5px
    border: 2px solid var(--bg-pink)
  +e(content)
    margin-top: 20px

.comment
  display: flex
  margin: 10px 0
  +e(img)
    width: 50px
  +e(content)
    margin-left: 20px
  +e(name)
    margin: 0
  +e(date)
    margin-left: 10px
  +e(text)
    margin: 0
  +e(response)
    margin-top: 20px
