@import "../../mixins.sass"

.config
  +e(image)
    width: 200px
    height: 200px
    border: 4px solid
    background-size: cover


.menu
  +e(list)
    display: flex
  .nav
    +e(item)
      border: 2px solid
      background: gold
      padding-left: 20px
      +m(dropdown)
        display: flex
        flex-direction: column
    +e(link)

