.config {
  padding: 25px; }
  .config__form {
    display: flex;
    flex-flow: row wrap; }
  .config__logo {
    padding: 15px; }
  .config__image {
    width: 200px;
    height: 200px;
    border: 4px solid;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    -moz-background-clip: revert; }
    .config__image:hover {
      background-color: rgba(var(--color-3), 0.2); }
    .config__image:before {
      content: "Select image";
      position: absolute; }
    .config__image .form-control-file {
      opacity: 0;
      height: 100%;
      cursor: pointer; }

.mytree {
  height: 100%; }

.menu {
  height: 100%; }
  .menu__list {
    display: flex; }
  .menu .nav__item {
    border: 2px solid;
    background: gold;
    padding-left: 20px; }
    .menu .nav__item--dropdown {
      display: flex;
      flex-direction: column; }
