@import "../../mixins.sass"

.config
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 100vh 100%
  grid-gap: 20px
  +e(menu)
    padding: 25px
  +e(form)
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    align-content: flex-start
  +e(logo)
    padding: 15px
  +e(image)
    width: 100%
    height: 200px
    border: 4px solid
    background-size: cover
    background-position: center 0
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    position: relative
    -moz-background-clip: revert
    &:hover
      background-color: rgba(var(--color-3), 0.2)
    &:before
      content: "Select image"
      position: absolute
    .form-control-file
      opacity: 0
      height: 100%
      cursor: pointer


@media (min-width: 860px)
  .config
    grid-template-columns: 1fr 1fr
    grid-template-rows: 100vh
    +e(form)
      overflow: hidden
      &:hover
        overflow: auto