@import "../../mixins.sass"

.config
  padding: 25px
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 20px
  overflow: hidden
  +e(form)
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    align-content: flex-start
  +e(logo)
    // padding: 15px
  +e(image)
    width: 200px
    height: 200px
    border: 4px solid
    background-size: cover
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    position: relative
    -moz-background-clip: revert
    &:hover
      background-color: rgba(var(--color-3), 0.2)
    &:before
      content: "Select image"
      position: absolute
    .form-control-file
      opacity: 0
      height: 100%
      cursor: pointer

  

