.navigation {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 50px;
  margin: auto; }
  .navigation__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    z-index: 1; }
    .navigation__item:hover > .navigation__item--dropdown {
      display: flex; }
    .navigation__item--dropdown {
      background: var(--bg-pink);
      display: none;
      position: relative; }
    .navigation__item--dropdown .navigation__item--dropdown {
      display: none;
      position: absolute;
      left: 100%;
      top: 0; }
