@import "../../mixins.sass"

.box
  min-width: 200px
  border-bottom: 5px solid var(--main-pink)
  text-align: center
  margin: 20px
  +e(img)
    width: 100%
  +e(title)
    text-transform: uppercase
