.new-post__form .form-group {
  margin: 10px auto;
  padding: 5px;
  width: 30%;
  background: rgba(var(--color-white), 0.8); }

.form__list {
  height: 100px;
  overflow: auto; }

.new-post {
  display: flex; }
  .new-post__add {
    padding: 10px;
    background: rgba(var(--color-5), 1);
    transition: 1s;
    overflow: hidden;
    flex: 1; }
  .new-post__live {
    height: 100vh;
    overflow: auto;
    flex: 1;
    transition: 1s; }
