.new-post__form {
  background-color: rgba(var(--color-white), 0.8);
  display: grid;
  grid-template: repeat(5, auto)/repeat(2, 1fr);
  grid-template-areas: "title title" "categories categories" "appearance appearance" "image image" "bottom bottom";
  justify-items: stretch; }
  .new-post__form .form-group {
    margin: 10px;
    padding: 10px;
    background-color: rgba(var(--color-white), 0.8); }

.form__title {
  grid-area: title; }

.form__categories {
  grid-area: categories;
  max-height: 200px;
  overflow: auto; }

.form__appearance {
  grid-area: appearance;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.form__image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  -moz-background-clip: revert;
  overflow: hidden; }
  .form__image:hover {
    background-color: rgba(var(--color-3), 0.2); }
  .form__image:before {
    content: "Select image";
    position: absolute; }
  .form__image .form-control-file {
    opacity: 0;
    height: 100%;
    cursor: pointer; }

@media (min-width: 768px) {
  .new-post__form {
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    grid-template-areas: "title title" "categories appearance" "categories image" "bottom bottom"; } }

.new-post {
  display: flex; }
  .new-post__edit {
    display: flex;
    flex-flow: column;
    padding: 10px;
    background: rgba(var(--color-5), 1);
    transition: 1s;
    overflow: auto;
    flex: 1; }
  .new-post__save {
    width: 100%;
    font-size: 3em;
    margin: auto; }
  .new-post__live {
    height: 100vh;
    overflow: auto;
    flex: 1;
    transition: 1s; }

@media (max-width: 768px) {
  .new-post {
    flex-flow: column; }
    .new-post__edit {
      overflow: initial;
      margin-bottom: 30px; }
    .new-post__live {
      overflow: initial; } }
