@import "../../mixins.sass"
@import "./components/Form/Form.sass"

.new-post
  display: flex
  +e(edit)
    display: flex
    flex-flow: column
    padding: 10px
    background: rgba(var(--color-5), 1)
    transition: 1s
    overflow: auto
    flex: 1
  +e(save)
    width: 100%
    font-size: 3em
    margin: auto
  +e(live)
    height: 100vh
    overflow: auto
    flex: 1
    transition: 1s

@media (max-width: 768px)
  .new-post
    flex-flow: column
    +e(edit)
      overflow: initial
      margin-bottom: 30px
    +e(live)
      overflow: initial
