@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Raleway");
.header {
  display: flex;
  flex-flow: column; }
  .header__top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 2px solid var(--grey); }
  .header__caption {
    font-family: var(--font-support); }
  .header__social {
    display: flex;
    align-items: center; }
  .header__icon {
    padding: 0 10px;
    color: var(--text-main);
    font-size: 1.2em; }
    .header__icon--search {
      border-left: 2px solid var(--grey); }
  .header__logo {
    display: flex; }
    .header__logo img {
      margin: auto;
      width: 80%; }
