@import "../../../../mixins.sass"

.new-post__form
  background-color: rgba(var(--color-white), 0.8)
  display: grid
  grid-template: repeat(5, auto) / repeat(2, 1fr)
  grid-template-areas: "title title" "categories categories" "appearance appearance" "image image" "bottom bottom"
  justify-items: stretch
  .form-group
    margin: 10px
    padding: 10px
    background-color: rgba(var(--color-white), 0.8)

.form
  +e(title)
    grid-area: title
  +e(categories)
    grid-area: categories
    max-height: 200px
    overflow: auto
  +e(appearance)
    grid-area: appearance
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
  +e(image)
    grid-area: image
    display: flex
    justify-content: center
    align-items: center
    position: relative
    background-size: cover!important
    -moz-background-clip: revert
    overflow: hidden
    &:hover
      background-color: rgba(var(--color-3), 0.2)
    &:before
      content: "Select image"
      position: absolute
    .form-control-file
      opacity: 0
      height: 100%
      cursor: pointer

@media (min-width: 768px)
  .new-post__form
    grid-template: repeat(4, 1fr) / repeat(2, 1fr)
    grid-template-areas: "title title" "categories appearance" "categories image" "bottom bottom"