@import "../../mixins.sass"

.admin__comments
  overflow: auto
  height: 100vh
  width: 100%

.admin__comments .comments
  +e(list)
    display: grid
    grid-template-columns: auto
    justify-items: center
    align-items: flex-start
    grid-gap: 20px
  +e(comment)
    display: flex
    flex-flow: column
    justify-content: flex-start
    +m(new)
      background: rgba(var(--color-5), 0.7)
  +e(info)
  +e(user)
  +e(date)
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  +e(content)
    margin: 0
  +e(show-response)
    display: flex
    justify-content: space-between
  +e(response)
    &:hover .comments__form
      height: 3em
  +e(form)
    position: absolute
    left: 0
    z-index: 1
    display: flex
    flex-flow: row
    width: 100%
    height: 0
    overflow: hidden
    transition: 0.4s

.comment__response .comments__comment
  margin-bottom: 20px

@media (min-width: 520px)
  .admin__comments .comments
    +e(list)
      grid-template-columns: repeat(2, auto)


@media (min-width: 768px)
  .admin__comments .comments
    +e(list)
      justify-items: baseline
      grid-template-columns: repeat(3, auto)
