@charset "UTF-8";
.sidebar {
  width: 0;
  overflow: hidden;
  transition: 0.4s;
  background: rgba(var(--color-3), 1); }
  .sidebar__logo {
    padding: 5px; }
  .sidebar__link {
    background: rgba(var(--color-4), 1);
    font-size: 2em; }
    .sidebar__link:hover {
      background: rgba(var(--color-4), 0.5); }
    .sidebar__link--active {
      background: rgba(var(--color-3), 1); }

#toggleSidebar {
  position: fixed;
  top: 10px;
  left: 20px;
  transition: 0.4s;
  appearance: none;
  cursor: pointer;
  z-index: 1; }
  #toggleSidebar:after {
    content: "☰";
    font-size: 2em; }
  #toggleSidebar:checked {
    top: 0px;
    left: 80px; }
    #toggleSidebar:checked:after {
      content: "🗙";
      font-size: 2em; }
  #toggleSidebar:checked ~ .sidebar {
    width: 80px; }

@media (min-width: 768px) {
  .sidebar {
    width: 80px; }
  #toggleSidebar {
    display: none; } }
